HOST = ""
USER = ""
PASSWORD = ""
DB_NAME = ""

COLUMNS = {
    "time": "TIMESTAMP",
    "bme_temp": "REAL",
    "bme_humid": "SMALLINT",
    "bme_pressure": "REAL",
    "sht_temp": "REAL",
    "sht_humid": "REAL",
    "pm1": "REAL",
    "pm2_5": "REAL",
    "pm10": "REAL",
    "co2": "REAL",
    "voc": "SMALLINT"
}